[submodule "borg"]
	path = site-lisp/borg
	url = https://github.com/emacscollective/borg.git
[submodule "closql"]
	path = site-lisp/closql
	url = https://github.com/magit/closql.git
[submodule "compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "cond-let"]
	path = site-lisp/cond-let
	url = https://github.com/tarsius/cond-let.git
[submodule "corfu"]
	path = site-lisp/corfu
	url = https://github.com/minad/corfu
	load-path = .
	load-path = extensions
[submodule "emacsql"]
	path = site-lisp/emacsql
	url = https://github.com/magit/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = site-lisp/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "llama"]
	path = site-lisp/llama
	url = https://github.com/tarsius/llama.git
[submodule "setup"]
	path = site-lisp/setup
	url = https://codeberg.org/pkal/setup.el.git
[submodule "magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
